@charset "UTF-8";

html,body,p,div,a {
	padding: 0px;
	margin: 0 auto;
	-webkit-text-size-adjust: none;
	text-decoration: none;
	border: 0px;
	margin: 0px;
	vertical-align: middle;
}
html,body,p,a {
	line-height:1.3em;
}

/* this is to hid google's horible iframe that messes up the web pages: (Google = incompetent) */
body > iframe:last-of-type  {
	display: none;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #555;
	height:100%;
	text-align: center;
	overflow-y: scroll;
	background:#FFF;
}
a {
	text-decoration: none;
	color: #51a63f;
	outline: none;
	font-weight: normal;
}
a:hover, a:active  {
	text-decoration: none;
	color: orange;
}
a.disabledLink {
	opacity: 0.2;
	cursor: default;
}

li {
	list-style: square;
}
img {
	border: 0;
	outline: none;
}

.underline {
	text-decoration: underline;
}

a .underline {
	text-decoration: underline;
	cursor: pointer;
}

h2 {
	font-size: 20px;
	text-align: center;
	padding: 0px;
	margin: 10px;
}

h3 {
	font-size: 16px;
	color: #555;
	margin: 2px 0px 4px 0;
}
/*page / section instructions heading*/
h4 {
	font-size: 15px;
	color: #060;
	margin: 0px;
	text-align: center;
	margin-bottom: 5px;
}

h5 {
	font-size: 16px;
	text-align: center;
	padding: 0px;
	margin: 10px;
}
/* standard content*/
p {
	padding: 0px 10px 5px 10px;
}

/* INPUT TYPES */
input {
	height: 18px;
	font-size: 16px;
}

input, input[type=text],input[type=password],input[type=number],input[type=tel],input[type=email],input[type=file], textarea {
	background-color: #FFF;
	padding: 5px;
	padding-top:6px;
	padding-bottom:4px;
	height:16px;
	color: #555;
	font-size:14px;
	border-radius: 2px;
	border: 2px solid #AAA;
	font-family: Helvetica, Arial, sans-serif;
	box-shadow: none;
	position: relative;
	outline: none;
	-webkit-appearance: none;
}

textarea {
	height: 18px;
	font-size: 1.0em;
	resize: none;
	font-size:14px;
	line-height:1.4em;
	margin:0px;
	font-family: Helvetica, Arial, sans-serif;
	overflow:hidden;
	box-shadow: none;
	outline: none;
	-webkit-appearance: none;
}
input.lightBorder, .lightBorder {
	border: 2px solid #CCC;
}
input:focus, textarea:focus {
	border-color:#51a63f;
}
input.error, textarea.error {
	border: 2px solid #C30;
}
input.warn, textarea.warn {
	border-color:#F5DA81;
}

input[type=checkbox] {
	padding: 6px;
	float:left;
	height:10px;
}

select {
	height: 30px !important;
	font-size: 14px;
	line-height: 30px;
	vertical-align: middle;
	margin: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	-webkit-appearance: menulist-button;
	color: #333;
	padding:0px;
	line-height:8px;
	margin-top:0px;
}

select.error {
	border: 2px solid #C30;
}
select.warn {
	border: 2px solid #F5DA81;
}
.fLn {
	float:left;
	width:100%;
}

/* HEADER */
#lheader  {
	margin: 0 auto;
	padding: 0px;
	background: #FFF;
	position: fixed;
	top: 0px;
	left: 0px;
	width:100%;
	z-index: 2001;
	/*border-bottom: 5px solid #51a63f;*/	
	text-align: left;
	color: #555;
	background:#333;
	color:#FFF;
	height:110px;
}
#lheader div {
	position:absolute;
	top:10px;
	right:10px;
	width:360px;
	height:70px;
}
#lheader div h1 {
	text-align:right;
	font-size:25px;
	line-height:1.0em;
	margin:0px;
}
#lheader div h3 {
	text-align:right;
	font-size:16px;
	margin:0px;
	color:#FFF;
	margin-top:8px;
}
#lheader div h5 {
	text-align:right;
	font-size:11px;
	margin:0px;
	margin-top:23px;
}
#lheader h1 {
	text-align:left;
	font-size:40px;
	line-height:1.0em;
	margin:10px;
	margin-top:60px;
}
#lheader img {
	position:absolute;
	top:-20px;
	left:8px;
	width:100px;
	height:100px;
}

.cent {
	width:980px;
	margin: auto;
}


/* FOOTER */
.footer {
	width:100%;
	float:left;
	margin-top:40px;
	background: #333;
	min-height:200px;
	color:#DDD;
	padding-top:60px;
	padding-bottom:20px;
	position:relative;
}
.footer .nav {
	float:left;
	height:140px;
	width:250px;
	margin-left:50px;
}
.footer .nav a {
	font-size:16px;
	text-align:left;
	color:#CCC;
	line-height:2.0em;
}
.footer .nav a:hover, .footer .nav a:active  {
	text-decoration: none;
	color: orange;
}
.footer .cpw {
	width:100%;
	float:left;
	font-size:14px;
	padding-top:20px;
	text-align: center;
}
.footer .rclm {
	width:100%;
	float:left;
	font-size:18px;
	padding-top:20px;
	padding-bottom:40px;
	text-align: center;
}
.footer .clmR {
	position:absolute;
	right:10px;
	bottom:15px;
	width: 130px;
	height:80px;
	text-align:left;
}
.footer .twitter, .footer .facebook, .footer .linkedin, .footer .googleplus {
	background-size: 40px;
	width: 40px;
	height: 40px;
	display: block;
	float:left;
	margin: 15px;
	-webkit-filter: grayscale(90%);
	filter: gray;
	filter: grayscale(90%);
}
img.wash {
	-webkit-filter: grayscale(90%);
	filter: gray;
	filter: grayscale(90%);
}
.footer .twitter {
	background-image:
		url("https://53a6e1a7f94a1cce4dbb-54b42ef7c1e0d9f659e72abba19c735c.ssl.cf2.rackcdn.com/icon_twitter.png");
}
.footer .facebook {
	background-image:
		url("https://53a6e1a7f94a1cce4dbb-54b42ef7c1e0d9f659e72abba19c735c.ssl.cf2.rackcdn.com/icon_facebook.png");
}
.footer .linkedin {
	margin-left:360px;
	background-image:
		url("https://53a6e1a7f94a1cce4dbb-54b42ef7c1e0d9f659e72abba19c735c.ssl.cf2.rackcdn.com/icon_linkedin.png");
}

.bslink {
	color: #444;
	line-height:1.2em;
	font-weight:bold;
	font-size: 8px;
	z-index: 2000;
	padding:2px;
	padding-bottom:1px;
	border: 1px solid #FFF;
	cursor:pointer;
}
.bslink.alt {
	color: #111;
	border: 1px solid #EEE;
}

.bslink.drk {
	color: #FFF;
	border: 1px solid #444;
}
.bslink.clickSentButton {
	z-index:10;
	width:65px;
	text-align:center;
	font-size:10px;
	position:absolute;
	right:0px;
	top:1px;
}
.bslink.clickSentButton.title, .bslink.clickSentButton.header, .bslink.clickSentButton.trailer {
	color:#FFF;
	top:0px;
	padding-top:3px;
}
.bslink.clickSent2Button {
	z-index:10;
	width:55px;
	text-align:center;
	font-size:10px;
	position:absolute;
	left:00px;
	top:1px;
}
.bslink.clickSentButton .tag {
	text-align:center;
	font-size:8px;
	position:absolute;
	right:3px;
	top:2px;
}
.bslink.select {
	color: #FFF;
	background:#444;
	font-weight:bold;
	/*
	font-size: 8px;
	line-height:1.2em;
	cursor:pointer;*/
	
	z-index: 50000;
	padding:2px;
	padding-bottom:1px;
	border: 1px solid #444;
}
.bslink.clickSent2Button.select, .bslink.clickSentButton.select {
	z-index:10;
}
.bslink:hover  {
	color:orange;
	border-color:orange;
}

/*CHAT*/
.c_msg {
	float:right;
	width:890px;
	background:#ebf2eb;
	margin-top:3px;
	margin-bottom:2px;
	padding:3px;
	padding-right:8px;
	text-align:right;
}
.s_msg {
	float:left;
	width:890px;
	background:#f0f6fc;	
	margin-top:3px;
	margin-bottom:2px;
	padding:3px;
	padding-left:8px;
}



